<header id="main-header" class="py-2 mainHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>
          <i class="fas fa-user"></i> Editar Cliente
        </h5>
      </div>
    </div>
  </div>
</header>

<form #clienteFrom="ngForm" (submit)="guardar(clienteFrom)">
  <flash-messages></flash-messages>

  <!--Botones-->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/" class="btn btn-block btnReturn">
            <i class="fas fa-arrow-left"></i> Regrasar al Inicio
          </a>
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-block btnSave">
            <i class="fas fa-check"></i> Guardar Cliente
          </button>
        </div>

        <div class="col-md-3">
          <a class="btn btn-block btnDelete"
          data-bs-toggle="modal" data-bs-target="#infoDelete">
            <i class="fas fa-trash"></i> Eliminar Cliente
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card cardBorder">
            <div class="card-header">
              <div class="card-title pt-2 text-center">                
                <h4>Editar Cliente</h4>
              </div>
            </div>

            <!--Card Body-->
            <div class="card-body">
              <!--Nombre-->
              <div class="form-group mt-3">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="cliente.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!nombre.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
                <div
                  [hidden]="!nombre.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>

              <!--Apellido-->
              <div class="form-group mt-3">
                <label for="apellido">Apellido</label>
                <input
                  type="text"
                  name="apellido"
                  class="form-control"
                  #apellido="ngModel"
                  [(ngModel)]="cliente.apellido"
                  [ngClass]="{
                    'is-invalid': apellido.errors && apellido.touched
                  }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!apellido.errors?.['required']"
                  class="invalid-feedback"
                >
                  Apellido requerido
                </div>
                <div
                  [hidden]="!apellido.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>

              <!--Email-->
              <div class="form-group mt-3">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  #email="ngModel"
                  [(ngModel)]="cliente.email"
                  [ngClass]="{ 'is-invalid': email.errors && apellido.touched }"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required
                />
                <div
                  [hidden]="!email.errors?.['required']"
                  class="invalid-feedback"
                >
                  Email requerido
                </div>
                <div
                  [hidden]="!email.errors?.['pattern']"
                  class="invalid-feedback"
                >
                  Email no es válido
                </div>
              </div>

              <!--Saldo-->
              <div class="form-group mt-3">
                <label for="saldo">Saldo</label>
                <input
                  type="number"
                  name="saldo"
                  class="form-control"
                  #saldo="ngModel"
                  [(ngModel)]="cliente.saldo"
                  [ngClass]="{ 'is-invalid': saldo.errors && saldo.touched }"
                />
                <div
                  [hidden]="!saldo.errors?.['required']"
                  class="invalid-feedback"
                >
                  Saldo requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<div class="modal fade" id="infoDelete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"></div>

      <div class="modal-body text-center">
        <h5>
          Quieres eliminar el cliente?
        </h5>
      </div>
      <div class="modal-footer justify-content-center">
        <button (click)="eliminar()" class="btn btn-block btnSave" data-bs-toggle="modal">
          Si
        </button>
        <a href="#" class="btn btn-block btnDelete" data-bs-toggle="modal">
          No
        </a>
      </div>
    </div>
  </div>
</div>
