<!-- Botones -->
<section id="actions" class="py-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-block btnGeneral"  data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
          <i class="fas fa-plus"></i> Agregar Cliente
        </a>
      </div>
    </div>
  </div>
</section>

<!--Listado Clientes-->
<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card cardClients">
          <table class="table table-hover table-borderless text-center">
            <thead class="table-head">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Saldo</th>
                <th>Mail</th>
                <th></th>
              </tr>

            <tbody>
              <tr *ngFor="let cliente of clientes; let i = index">
                <td>{{i+1}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.saldo | currency: 'MNX': '$'}}</td>
                <td>{{cliente.email}}</td>
                <td>
                  <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btnGeneral">
                    <i class="fas fa-angle-double-right"></i> Editar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Tarjetas laterales-->
      <div class="col-md-3">
        <!--Saldo Total-->
        <div class="card cardAside mb-3">
          <div class="card-body">
            <h3>Saldo Total</h3>
            <h4 class="display-6">
              {{getSaldoTotal() | currency:'MXN': '$'}}
            </h4>
          </div>
        </div>
        <!--Total Clientes-->
        <div class="card cardAside mb-3">
          <div class="card-body">
            <h3>Total Clientes</h3>
            <h4 class="display-6">
              <i class="fas fa-users"></i> {{clientes?.length}}
            </h4>
          </div>
        </div>
      </div>
      <!--Fin Tarjetas-->
    </div>
  </div>
</section>

<!--Agregar cliente modal-->
<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Agregar Cliente
        </h5>
        <button class="btn-close" data-bs-dismiss="modal" #botonCerrar></button>
      </div>

      <flash-messages></flash-messages>

      <form #clienteForm="ngForm" (submit)="agregar(clienteForm)">
        <div class="modal-body">
          <!--Nombre-->
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text"
            name="nombre" class="form-control"
            #nombre="ngModel" [(ngModel)]="cliente.nombre"
            [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
            required minlength="2">
            <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
              Nombre requerido
            </div>
            <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
              Debe contener al menos 2 caracteres
            </div>
          </div>
          <!--Apellido-->
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text"
            name="apellido" class="form-control"
            #apellido="ngModel" [(ngModel)]="cliente.apellido"
            [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
            required minlength="2">
            <div [hidden]="!apellido.errors?.['required']" class="invalid-feedback">
              Apellido requerido
            </div>
            <div [hidden]="!apellido.errors?.['minlength']" class="invalid-feedback">
              Debe contener al menos 2 caracteres
            </div>
          </div>
          <!--Email-->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
            name="email" class="form-control"
            #email="ngModel" [(ngModel)]="cliente.email"
            [ngClass]="{'is-invalid': email.errors && apellido.touched}"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required>
            <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
              Email requerido
            </div>
            <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">
              Email no es válido
            </div>
          </div>
          <!--Saldo-->
          <div class="form-group">
            <label for="saldo">Saldo</label>
            <input type="number"
            name="saldo" class="form-control"
            #saldo="ngModel" [(ngModel)]="cliente.saldo"
            [ngClass]="{'is-invalid': saldo.errors && saldo.touched}">
            <div [hidden]="!saldo.errors?.['required']" class="invalid-feedback">
              Saldo requerido
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btnGeneral" data-bs-toggle="modal"
          *ngIf="!nombre.errors && !apellido.errors && !email.errors">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
